<script>
  const observer = new IntersectionObserver((entries) => {
  entries.forEach((entry) => {
    if (entry.isIntersecting) {
      const path = entry.target.querySelector('path');
      if (path && !matchMedia('(prefers-reduced-motion: reduce)').matches) {
        path.classList.add('animate');
        // Safari hack setting css variable for length of the path
        path.parentElement.style = `--l: ${path.getTotalLength().toFixed(2)};`
      }
    }
  });
}, {
  threshold: 0.5,
});

document.querySelectorAll('.run-data-wrapper.animate').forEach((wrapper) => {
  observer.observe(wrapper);
});
</script>
