---
title: Workouts
layout: base
permalink: /
showMap: true
animate: true
---


{%- for workout in workouts | entries | reverse -%}
{#
  <!--For debugging purposes-->
  {{ workout | last | dump }}
#}
  {%- set entry = workout | last -%}
  {% if entry.features[0].geometry.coordinates.length > 1 %}
    <div class="workout-data-wrapper{% if animate %} animate{% endif %}">
      <dl>
        <dt>Date</dt>
        <dd>{{ entry.features[0].properties.time | readableDateISO }}</dd>
      </dl>
      {% if showMap %}
        {{ entry | CreateSVGfromGeoJSON | safe }}
      {% endif %}
    </div>
  {% endif %}
{%- endfor -%}

{% if animate %}
  {% include "io-workout-path.njk" %}
{% endif %}
